.form__title {
    padding: 12px 0;
}

.form-input__text {
    width: 100%;
    padding: 10px 0 10px 0;
    border: none;
    outline: none;
}

.form-input::after {
    display: block;
    width: 100%;
    height: 2px;
    content: '';
    background: #e5e5e5;
}

.form-input__code {
    cursor: pointer;
}

.form-input.input-error::after {
    background: #ff2727;
}

.login-btn {
    min-width: 70px;
    margin: 24px auto 0;
}
