{
  "processors": [
    "stylelint-processor-html"
  ],
  "extends": "stylelint-config-prettier",
  "plugins": [
    "stylelint-prettier"
  ],
  "rules": {
    "prettier/prettier": true,
    "block-no-empty": true,
    "color-no-invalid-hex": true,
    "comment-no-empty": true,
    "declaration-block-no-duplicate-properties": true
  }
}
